.crd-h{
    height: 200px;
}

.image_l-1{
    width: 100%;
    background-image: url(/home/img/BLOG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45% ;
}

.image_r-1{
    width: 100%;
    background-image: url(/home/img/PH.jpg);
    background-size: cover;
    background-position: center left;
}

.image_l-2{
    width: 100%;
    background-image: url(/home/img/spo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 45% ;
}

.image_r-2{
    width: 100%;
    background-image: url(/home/img/sto.jpg);
    background-size: cover;
    background-position: center left;
}

.image_xl{
    width: 100%;
    background-image: url(/home/img/RAC-CAR.jpg);
    background-size: cover;
    background-position: 50% 85% ;
}

.zoom{
    transition: all 1s;
}

.zoom:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px){

    .crd-h{
        height: 150px;
    }
}