.crd-h{
    height: 200px;
}

.image_xll{
    width: 100%;
    background-image: url(../img/verified_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-size: 85px;
    background-position: center;
}


.image_xl{
    width: 100%;
    background-image: url(../img/request_quote_white_24dp.svg);
    background-repeat: no-repeat;
    background-size: 85px;
    background-position: center;
}

.image_1{
    width: 100%;
    background-image: url(../img/record_voice_over_white_24dp.svg);
    background-repeat: no-repeat;
    background-size: 85px;
    background-position: center;
}

.image_2{
    width: 100%;
    background-image: url(../img/low_priority_white_24dp.svg);
    background-repeat: no-repeat;
    background-size: 85px;
    background-position: center;
}



.zoom{
    transition: all 1s;
}

.zoom:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 500px){

    .crd-h{
        height: 150px;
    }

}